<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ryg.chapter_3">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".DemoActivity_1"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name=".DemoActivity_2"
            android:configChanges="screenLayout"
            android:label="@string/title_scene_1"
            android:launchMode="standard" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".FourActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".FiveActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".SixActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".SevenActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".EightActivity"
            android:configChanges="screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/app_name" />
        <activity
            android:name=".NineActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.action.ACCOUNT_REMOVED"/>
                <action android:name="com.ryg.chapter_3.action.start" />
            </intent-filter>
        </receiver>
    </application>

</manifest>